.wide {
    width: 1280px;
    margin: 0 auto;
}
body {
    background-color: #4E68CC;
}

.head_banner {
    
	background-color: #FFFFFF;
    background-size: 100% 100%;
    width: 1280px;
    height: 200px;
    display: flex;
    justify-content: center;
	
}
.title {
    width: 1280px;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

.image {
    margin-top: 50px;
}

.image0 {
    margin-top: 60px;
    width: 1280px;
    height: 300px;
    background-color: #FFFFFF;
   
    display:flex;
}

.pic_thedream {
    width: 350px;

}

.pic_thedream img {
    max-width: 100%;
   
}

.pic_thedream img: {
    padding-left: 66px;
}

.answer {
    width: 800px;
    height: 400px;
    margin-left: 60px;
    margin-top: -2px;
    position: relative;
    justify-content: space-between;

}


