* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --container-background-color: #ADAEAD;
    --border-one: 2px solid red;
}

#bg-grid-container {
    background-color: var(--container-background-color);
    width: 80vw;
    max-width: 750px;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 20px 40px 1.5fr 30px 10px 1.5fr;
    grid-template-rows: 1fr 50px 50px 1fr 2fr 50px 1fr 20px;
    column-gap: 12px;
    row-gap: 12px;
}

.grid-item {
    border: var(--border-one);
}

.grid-item.one {
    grid-area: 1 / 1 / 4 / 4;
    background-color: antiquewhite;
}

.grid-item.two {
    grid-area: 1 / 5 / 3 / 7;
    background-color: antiquewhite;
}

.grid-item.three {
    grid-area: 3 / 1 / 5 / 3;
    background-color: antiquewhite;
}

.grid-item.four {
    grid-area: 2 / 4 / 5 / 6;
    background-color: antiquewhite;
}

.grid-item.five {
    grid-area: 1 / 8 / 5 / 9;
    background-color: antiquewhite;
}

.grid-item.six {
    grid-area: 5 / 1 / 6 / 9;
    background-color: antiquewhite;
}

.grid-item.seven {
    grid-area: 6 / 2 / 8 / 6;
    background-color: antiquewhite;
    
}

.grid-item.eight {
    grid-area: 7 / 1 / 9 / 4;
    background-color: antiquewhite;
}

.grid-item.nine {
    grid-area: 6 / 7 / 9 / 9;
    background-color: antiquewhite;
}